<h1>Welcome <%= user.firstName%>, to <%= site.org_name%>!</h1>

<p>
  Please go to the following link and complete your registration.
  <a href="<%= site.url%>/register/<%= token%>" target="_blank"><%= site.url%>/register/<%= token%></a>
</p>
